#Server Side
#---JS 
server/node_modules/
#---Placeholder files without implemented features
server/src/experimental
#---Build it yourself!
server/build/

#Database
db/pgdata

#Client
#---JS
slient/node_modules/