#Server Side
#---JS 
Server/node_modules/
#---Placeholder files without implemented features
Server/src/experimental
#---Build it yourself!
Server/build/

#Database
db/pgdata

#Client
#---JS
Client/node_modules/